body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: center;
  padding: 0% 15%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 600px;
}

.controls {
  width: 100px;
}
#mute-button {
  width: 90;
}

button img {
  width: 100px;

  float: center;
}
button {
  border: none;
  background-color: lightblue;
}

#game-board {
  float: center;
  padding: 20px;
}

#canvas {
  border: 2px solid black;
}

html {
  background-color: lightblue;
}

#buttons {
  float: center;
}

h2 {
  font-family: "Lato", sans-serif;
  font-family: "Limelight", cursive;
  color: black;
  font-size: 28px;
}
